body {
	width: 100%;
	font-family: arial;
	margin: auto;
	background-color: #cbcaca;
}

#header {
	border: 1px solid black;
	height: 160px;
	background-color: black;
}

#header #nav {
  margin-top: 110px; 
  margin-left: 760px;
}

#header #nav ul li {
  list-style-type: none;
  display: inline;
  text-align: center;
  padding: 7px 9px;
  background-color: #343333;
  font-size: 18px; 
  color: #fff;
}

#header #nav a {
  text-decoration: none;
  color: #fff;
}


#header #nav a:hover {
  border-bottom: 3px solid red;
}

#wrapper {
	width: 700px;
	border: 1px solid black;
	height: auto;
	margin: 0 auto;
}

#wrapper #main {
	border: 1px solid black;
	height: 300px;
}

#wrapper #main img {
  width: 700px;
  height: 300px;
}

#footer {
  height: 40px;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
}

