body {
	width: 100%;
	font-family: arial;
	margin: auto;
	background-color: #cbcaca;
}

#header {
	border: 1px solid black;
	height: 160px;
	background-color: black;
}

#wrapper {
	width: 700px;
	border: 1px solid black;
	height: auto;
	margin: 0 auto;
}

#wrapper #main {
	border: 1px solid black;
	height: 300px;
}

#wrapper #main img {
  width: 700px;
  height: 300px;
}

#footer {
  height: 40px;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
}

